@import '../../styles/vars.scss';

.section {
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  font: {
    family: $font-family;
  }
  color: $dark-theme-font;
  border: 1px solid $light-theme;

  .subtitle,
  .description {
    word-wrap: break-word;
  }

  .subtitle {
    font-size: 20px;
  }

  .description {
    font-size: 18px;
    margin-bottom: 50px;
  }
}
