@import '../../styles/vars.scss';

.section {
  box-sizing: border-box;
  padding: 20px;
  font: {
    family: $font-family;
  }
  color: $dark-theme-font;

  .content {
    max-width: 600px;
  }

  .subtitle,
  .description {
    word-wrap: break-word;
  }

  .subtitle {
    font-size: 20px;
  }

  .description {
    font-size: 18px;
    margin-bottom: 50px;
  }
}
