@import '../../styles/vars.scss';

.section {
  box-sizing: border-box;
  padding: 20px;
  flex-basis: 100%;
  font: {
    family: $font-family;
  }
  color: $dark-theme-font;

  .content {
    max-width: 600px;
  }

  .subtitle,
  .description {
    word-wrap: break-word;
  }

  .subtitle {
    font-size: 20px;
    margin: 20px 0;
  }

  .description {
    font-size: 18px;
    margin: 20px 0 0;
  }

  .link {
    display: block;
    margin-top: 20px;
    color: inherit;
    font-size: 18px;
  }

  .grade {
    font-size: 20px;
    margin: 20px 0 40px;
    text-decoration: underline;
    text-align: left;
  }
}
