$dark-theme: #353535;
$light-theme: #fff;
$dark-theme-font: #fff;
$light-theme-font: #000;
$font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
$transition: opacity 0.7s ease;
$error-color: #f00;
$opacity: 0.6;
$border-radius: 5px;
