@import '../../../styles/vars.scss';

.section {
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  font-family: $font-family;

  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $dark-theme-font;
    font: {
      size: 16px;
      weight: 500;
    }
    text-decoration: none;
    border: 1px solid $dark-theme-font;
    padding: 10px;
    transition: $transition;

    &:hover {
      opacity: $opacity;
    }
  }

  .label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid $dark-theme-font;

    .custom {
      display: block;
      width: 18px;
      height: 18px;
    }

    .hidden {
      display: none;
    }

    .hidden:checked + .custom {
      background-color: $dark-theme-font;
    }
  }
}
