@import '../../styles/vars.scss';

.nav {
  box-sizing: border-box;
  color: $dark-theme-font;
  width: 250px;
  padding: 20px;
  font: {
    family: $font-family;
    size: 20px;
  }
  border: 1px solid $light-theme;

  .list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
  }

  .title {
    margin-bottom: 20px;
  }

  .item:not(:last-child) {
    margin-bottom: 10px;
  }

  .link {
    text-decoration: none;
    color: $dark-theme-font;
    display: block;
    padding: 5px;
  }

  .active {
    border-bottom: 1px solid $dark-theme-font;
    transition: $transition;

    &:hover {
      opacity: $opacity;
    }
  }
}
