@import '../../styles/vars.scss';

.section {
  box-sizing: border-box;
  padding: 20px;
  color: $dark-theme-font;
  font: {
    family: $font-family;
    size: 20px;
  }

  .wrapper {
    max-width: 600px;
  }

  .paragraph {
    margin: 20px 0 20px 0;
    font-size: 22px;
  }
}
