@import '../../../styles/vars.scss';

.section {
  font-family: $font-family;
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .wrapper {
    width: 100%;
    max-width: 500px;
    order: 1;

    @media screen and (max-width: 900px) {
      order: 3;
    }
  }

  .form {
    max-width: 500px;
    min-width: 300px;
    width: 100%;
  }

  .fields {
    width: 100%;
    margin-bottom: 20px;
  }

  .area {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    border-radius: $border-radius;
    background-color: transparent;
    padding: 10px;
    color: $dark-theme-font;
    border: 1px solid $light-theme;
  }

  .select {
    order: 2;
  }
}
