@import '../../styles/vars.scss';

.section {
  font: {
    family: $font-family;
  }
  padding: 20px;
  color: $dark-theme-font;

  .list {
    list-style-type: square;
    padding: 0 0 0 20px;
    margin: 30px 0 0;
  }

  .item:not(:last-child) {
    margin-bottom: 15px;
  }

  .link {
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    transition: $transition;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      opacity: $opacity;
    }

    &.ready::after,
    &.notready::after {
      font-size: 25px;
      margin-left: 10px;
    }

    &.ready::after {
      content: '\2714';
      color: green;
    }

    &.notready::after {
      content: '\2718';
      color: red;
    }
  }
}
