@import '../../../styles/vars.scss';

.section {
  padding: 30px 20px 20px;
  font-family: $font-family;
  color: $dark-theme-font;
  position: relative;

  .content {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex: 0 1 700px;
    display: flex;
    flex-direction: column;
  }

  .item {
    border: 1px solid $dark-theme-font;
    border-radius: $border-radius;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
  }

  .div {
    margin-right: 40px;
    max-width: 200px;
    width: 100%;
  }

  .par {
    font-size: 16px;
    margin: 0;

    &:first-child {
      margin-bottom: 15px;
    }
  }

  .form {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-bottom: 15px;
    text-align: center;
  }

  .label {
    margin-bottom: 4px;
  }
}
