@import '../../styles/vars.scss';

.header {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: $font-family;
  color: $dark-theme-font;
  border: 1px solid $light-theme;

  .button {
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    outline: 0;
    border: 2px solid $light-theme;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    .span {
      width: 70%;
      height: 2px;
      background-color: $light-theme;
    }

    &::before,
    &::after {
      content: '';
      height: 2px;
      width: 70%;
      background-color: $light-theme;
      position: absolute;
      left: 50%;
      top: 50%;
      transition: $transition;
    }

    &::before {
      transform: translate(-50%, calc(-50% - 7px));
    }

    &::after {
      transform: translate(-50%, calc(-50% + 7px));
    }

    &_active {
      .span {
        opacity: 0;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  .figure {
    margin: 0 auto 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .img {
    max-height: 40px;
    margin-right: 10px;
  }

  .link {
    font-family: inherit;
    color: $dark-theme-font;
    text-decoration: none;
    border-bottom: 1px solid $light-theme;
    transition: $transition;

    &:hover {
      opacity: $opacity;
    }
  }
}
