@import '../../styles/vars.scss';

.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;

  .area {
    margin-bottom: 20px;
    height: 180px;
    background-color: transparent;
    color: $dark-theme-font;
    border: 1px solid $dark-theme-font;
    border-radius: 5px;
    outline: none;
  }
}
