.section {
  box-sizing: border-box;
  max-width: 600px;
  padding: 20px;
  position: relative;

  .div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
}
